@media (max-width: 1220px) {
  .container {
    .b-header {
      .header__wrapper {
        .header__menu {
          width: 1000px;
        }
      }
    }

    .b-media__middle {
      .media__middle__wrapper {
        gap: 130px;
        .media__middle__wrapper__content {
          gap: 130px;
          .media__middle__logo {
            margin: 0;
          }
        }
      }
    }

    .b-personal {
      .personal__container {
        .instructors__container {
          justify-content: center;
        }
      }
    }

    .b-news {
      .news__container {
        .news__block__wrapper {
          justify-content: center;
        }
      }
    }

    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          .footer__uphead__about {
            margin-left: 110px;
          }

          .footer__uphead__contacts {
            margin-left: 110px;
          }

          .footer__uphead__button {
            margin-left: 90px;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .container {
    .b-services {
      .services__about {
        padding: 0 10px;
      }
    }

    .b-feedback {
      .feedback__container {
        .feedback__comment__wrapper {
          justify-content: center;
        }
      }
    }

    .b-news {
      .news__container {
        .news__block__wrapper {
          justify-content: center;
        }
      }
    }

    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          .footer__uphead__about {
            margin-left: 100px;
          }

          .footer__uphead__contacts {
            margin-left: 100px;
          }

          .footer__uphead__button {
            margin-left: 80px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          gap: 70px;
          .footer__uphead__about {
            margin-left: 0px;
          }

          .footer__uphead__contacts {
            margin-left: 0px;
          }

          .footer__uphead__button {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          gap: 60px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .b-header {
      .header__wrapper {
        align-items: center;

        .header__menu {
          width: 800px;

          .menu__pages {
            gap: 20px;
          }

          .menu__contacts {
            width: 190px;
          }
        }

        .header__content {
          .header__content__title {
            width: 90%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .b-services {
      .services__about {
        .services__about__wrapper {
          width: 680px;
          justify-content: center;
          gap: 20px;

          .services__about__info {
            width: 100%;

            .services__about__title {
              justify-content: center;
            }
          }
        }
      }
    }

    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          .footer__uphead__about {
            .footer__about__list {
              width: 300px;
              gap: 50px;
            }
          }
        }

        .footer__subhead {
          justify-content: center;

          .footer__subhead__development {
            margin-left: 220px;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .container {
    .b-header {
      .header__wrapper {
        .header__menu {
          width: 700px;
          .menu__pages {
            width: 550px;
            gap: 10px;
          }
        }
      }
    }

    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          gap: 35px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .container {
    .b-footer {
      .footer__wrapper {
        .footer__uphead {
          .footer__uphead__about {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  %button__settings__mobile {
    width: 176px;
    height: 50px;
  }

  .container {
    .b-modal__menu__container-js {
      transform: translateX(+100%);
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #000000;
      transition: transform 0.5s;
      z-index: 2;

      .modal__menu__close-btn {
        position: absolute;
        right: 0;
        margin: 14px 14px 0px 0px;
      }

      .modal__menu {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .modal__menu__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          gap: 30px;

          .modal__menu__content__text p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            color: #ffffff;
            text-transform: uppercase;
          }

          .modal__menu__content__contacts {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            margin-top: 51px;

            p {
              font-weight: 400;
              font-size: 18px;
              text-transform: uppercase;
              color: #95e82c;
            }
          }

          .modal__menu__content__media {
            display: flex;
            justify-content: center;
            margin-top: 24px;
            gap: 30px;

            .modal__menu__content__media__image {
              width: 20px;
              height: 20px;
              cursor: pointer;
              transition: opacity 0.2s ease-out;
            }

            .modal__menu__content__media__image:hover {
              opacity: 0.5;
            }
          }

          .modal__menu__content__button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            width: 176px;
            height: 50px;
            background-color: #95e82c;
            line-height: 60px;
            cursor: pointer;

            a {
              font-weight: 700;
              font-size: 14px;
              text-transform: uppercase;
              color: #000000;
              text-decoration: none;
            }
          }

          .modal__menu__content__button:hover {
            box-sizing: border-box;
            border: 1px solid #222222;
            background-color: #f4f4f4;
            line-height: 58px;

            a {
              color: #222222;
            }
          }
        }
      }
    }

    .b-modal__menu__container-js.active {
      transform: translateX(0%);
    }

    .b-header {
      height: 460px;

      .header__background {
        width: 100%;
        height: 460px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .header__wrapper {
        .header__menu-mobile {
          display: flex;
          width: 100%;
          position: absolute;

          .phone {
            margin: 34px 0 0 34px;
          }

          .menu__button {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 34px 34px 0 0;
            width: 23px;
            height: 16px;
            gap: 5px;
            cursor: pointer;
            transition: opacity 0.2s ease-out;

            span {
              border: 1px solid #95e82c;
              border-radius: 4px;
            }
          }
        }

        .header__menu {
          display: none;
        }

        .header__content {
          margin-top: 20px;

          .header__content__logo {
            width: 60px;

            img {
              width: 100%;
            }
          }

          .header__content__title {
            margin-top: 63px;

            .content__title__uphead {
              text-align: center;
              font-size: 50px;

              span {
                width: 200px;
              }
            }

            .content__title__subhead {
              margin-top: 12px;
            }
          }

          .header__content__button {
            @extend %button__settings__mobile;
            margin-top: 32px;

            a {
              font-size: 14px;
            }
          }
        }
      }
    }

    .b-services {
      margin-top: 60px;

      .services__price {
        .services__price__photo {
          margin-top: 43px;

          .price__photo__wrapper {
            width: 220px;
            height: 230px;

            .price__photo__line {
              height: 230px;
            }

            .price__photo__image {
              width: 220px;
              height: 230px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .price__photo__header {
              margin-top: 91px;
              width: 90%;

              p {
                font-size: 20px;
                line-height: 24px;
              }
            }

            .price__photo__text-wrapper {
              margin-top: 4px;
            }

            .price__text__wrapper {
              margin-top: 25px;
            }

            // НЕ РАБОТАЕТ!!!!!!!!!!!
            .price__photo__text-wrapper:nth-child(2),
            .price__photo__text-wrapper:nth-child(3) {
              margin-top: 25px;
            }
          }
        }
      }

      .services__about {
        margin-top: 120px;

        .services__about__wrapper {
          flex-wrap: nowrap;
          width: 700px;

          .services__about__description {
            max-width: 340px;

            .description__title {
              h2 {
                font-size: 48px;
              }
            }

            .description__subtitle {
              margin-top: 0;

              p {
                font-size: 20px;
              }
            }

            .description__text {
              margin-top: 12px;

              p {
                font-size: 14px;
              }
            }
          }

          .services__about__info {
            .services__about__title {
              padding: 25px 0 25px 0;

              .services__title__header {
                h3 {
                  font-size: 48px;
                }
              }

              .services__title__text {
                p {
                  font-size: 18px;
                }
              }
            }

            .services__about__title:first-child {
              padding: 0 0 25px 0;
            }

            .services__about__title:last-child {
              padding: 25px 0 0 0;
            }
          }
        }
      }
    }
    .b-media__middle {
      height: 230px;
      margin-top: 67px;

      .media__middle__background {
        height: 230px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .media__middle__wrapper {
        width: 90%;
        gap: 129px;

        .media__middle__wrapper__content {
          gap: 129px;

          .media__middle__media {
            .middle__media__wrapper {
              width: 50px;
              height: 50px;

              img {
                width: 24px;
                height: 24px;
              }
            }
          }

          .media__middle__logo {
            height: 102px;
            width: 90px;
            margin: 0;

            img {
              height: 102px;
              width: 90px;
            }
          }
        }

        .media__middle__button__wrapper {
          .media__middle__button {
            @extend %button__settings__mobile;

            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .b-personal {
      width: 100%;
      margin-top: 60px;

      .personal__container {
        width: 100%;

        .personal__title {
          h2 {
            font-size: 28px;
          }
        }

        .instructors__container {
          justify-content: center;
          margin-top: 43px;

          .instructors__wrapper {
            width: 340px;
            height: 100px;

            .instructors__info {
              margin-left: 24px;
              gap: 9px;

              .instructors__info__name {
                font-size: 18px;
              }
            }

            .instructors__image {
              width: 100px;
              height: 100px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .b-feedback {
      width: 100%;
      margin-top: 120px;

      .feedback__container {
        width: 640px;

        .feedback__title {
          font-size: 28px;
        }

        .feedback__comment__wrapper {
          width: 100%;
          margin-top: 73px;
          justify-content: center;

          .feedback__comment {
            width: 100%;

            .feedback__comment__text {
              font-size: 14px;
            }

            .feedback__comment__profile {
              gap: 15px;

              .feedback__profile__image {
                img {
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }
        }
      }
    }
    .b-news {
      margin-top: 150px;

      .news__container {
        width: 100%;
        .news__title {
          h2 {
            font-size: 28px;
          }
        }

        .news__block__wrapper {
          justify-content: center;
          margin-top: 43px;

          .news__block {
            width: 220px;

            .news__image {
              height: 140px;
            }

            .news__date {
              font-size: 12px;
            }

            .news__text {
              font-size: 18px;
            }
          }
        }
      }
    }

    .b-footer {
      height: 200px;
      margin-top: 65px;

      .footer__wrapper {
        width: 90%;
        .footer__uphead {
          justify-content: space-between;

          .footer__uphead__about {
            display: none;
          }

          .footer__uphead__contacts {
            flex-direction: row;
            gap: 60px;
            margin: 0;

            .footer__contacts__media {
              align-items: center;

              img {
                width: 20px;
                height: 20px;
              }
            }
          }

          .footer__uphead__button {
            margin: 0;
            @extend %button__settings__mobile;
            a {
              font-size: 14px;
            }
          }
        }

        .footer__subhead {
          justify-content: space-between;
          margin-top: 26px;

          .footer__subhead__politics {
            margin: 0;
          }

          .footer__subhead__development {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .container {
    .b-services {
      .services__about {
        .services__about__wrapper {
          justify-content: center;
          gap: 5px;
        }
      }
    }
    .b-media__middle {
      .media__middle__wrapper {
        gap: 60px;

        .media__middle__wrapper__content {
          gap: 60px;
        }
      }
    }
  }
}

@media (max-width: 649px) {
  .container {
    .b-services {
      .services__about {
        .services__about__wrapper {
          gap: 28px;
        }
      }
    }

    .b-feedback {
      .feedback__container {
        width: 90%;
      }
    }

    .b-footer {
      margin-top: 55px;
      height: 410px;

      .footer__wrapper {
        .footer__uphead {
          gap: 30px;
          flex-direction: column;

          .footer__uphead__contacts {
            flex-direction: column;
            gap: 14px;

            .footer__contacts__media {
              justify-content: center;
            }
          }
        }

        .footer__subhead {
          margin-top: 25px;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .container {
    .b-media__middle {
      margin-top: 47px;
      height: 300px;

      .media__middle__background {
        height: 100%;

        img {
          height: 300px;
        }
      }

      .media__middle__wrapper {
        gap: 20px;
        flex-direction: column;

        .media__middle__wrapper__content {
          gap: 20px;
          flex-direction: column-reverse;

          .media__middle__media {
            gap: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 465px) {
  .container {
    .b-header {
      .header__wrapper {
        width: 100%;

        .header__menu-mobile {
          .phone {
            margin: 24px 0 0 24px;
          }

          .menu__button {
            margin: 24px 24px 0 0;
          }
        }

        .header__content {
          .header__content__title {
            width: 90%;
            margin-top: 93px;

            .content__title__uphead {
              font-size: 28px;
              line-height: 34px;
            }

            .content__title__subhead {
              margin-top: 13px;
              font-size: 18px;
            }
          }

          .header__content__button {
            margin-top: 54px;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .container {
    .b-services {
      margin-top: 40px;

      .services__price {
        .services__price__title {
          font-size: 22px;
        }

        .services__price__photo {
          margin-top: 31px;

          .price__photo__wrapper {
            width: 300px;
            height: 315px;

            .price__photo__line {
              height: 315px;
            }

            .price__photo__image {
              width: 300px;
              height: 315px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .price__photo__header {
              margin-top: 142px;
            }

            .price__photo__text-wrapper {
              margin-top: 51px;
            }
          }
        }
      }

      .services__about {
        margin-top: 80px;

        .services__about__wrapper {
          flex-wrap: wrap;
          width: 90%;

          .services__about__description {
            .description__title {
              h2 {
                font-size: 40px;
              }
            }
          }

          .services__about__info {
            margin-top: 28px;
          }
        }
      }
    }

    .b-personal {
      margin-top: 39px;

      .personal__container {
        .personal__title {
          h2 {
            font-size: 22px;
          }
        }

        .instructors__container {
          margin-top: 33px;

          .instructors__wrapper {
            width: 300px;
          }
        }
      }
    }

    .b-feedback {
      margin-top: 80px;

      .feedback__container {
        width: 80%;

        .feedback__title {
          h2 {
            font-size: 22px;
          }
        }

        .feedback__comment__wrapper {
          margin-top: 60px;
          gap: 40px;
        }
      }
    }

    .b-news {
      margin-top: 110px;

      .news__container {
        .news__title {
          h2 {
            font-size: 22px;
          }
        }

        .news__block__wrapper {
          margin-top: 33px;

          .news__block {
            width: 300px;

            .news__image {
              width: 100%;
              height: 190px;
            }

            .news__text {
              h2 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
